body {
    background: lightblue;
    font-family:Arial, Helvetica, sans-serif;
}

.assignment{

    display: flex;
    padding: 10 px;
    margin:10px;
    background: lightcoral;
}

.assignment img{

    width: 200px;
    margin: 10 px;
    border: 2px solid lightsteelblue;
    border-radius: 20px;

}
assignment img:hover{
    color: antiquewhite;
}

h1 {
    color: darkmagenta;
    text-align: center;
}

a {
    text-decoration: none;
    color: darkgreen;
}

a:hover{
    color: white;
}