body {
    background: lightblue;
    font-family:Arial, Helvetica, sans-serif;
}

.assignments{

    display: flex;
    flex-wrap: wrap;
}

.assignment{

    width: 22%;
    padding: 20 px 10 px;
    margin:10px;
    background: lightcoral;
}

.assignment img{

    width: 200px;
    margin: 10 px;
    border: 2px solid lightsteelblue;
    border-radius: 20px;
    display:block;
    margin: auto;

}
assignment img:hover{
    color: antiquewhite;
}

h1 {
    color: darkmagenta;
    text-align: center;
}

a {
    text-decoration: none;
    color: darkgreen;
}

a:hover{
    color: white;
}

h2{
    text-align: center;
}

p{
    text-align: center;
    min-width: 200px;
}